<div class="page-header">
  <h3>Order History</h3>
</div>

{{#if uploadedFiles}}
<h2>
 <ul>
	{{#each uploadedFiles as |uploadedFile|}}
		<li><a href="{{uploadedFile.s3Url}}">{{uploadedFile.fileName}}</a></li>
	{{/each}}
</ul>
<h2>
{{else}}
<h4>You haven't uploaded any files</h4>
{{/if}}
